*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
}

#level {
    color: #ff4a02;
}

.color {
    background: linear-gradient(to right, #ff6b6b, #ffa07a, #f0e68c, #98fb98); /* Adjust the colors as needed */
}

.form-color {
    background: linear-gradient(to right,  #908f92, #4c4b4c, #908f92);
}
.header button {
    font-family: 'Rubik Wet Paint', sans-serif;
    font-size: 50px;
    color: black;
}

#green, #red, #blue, #yellow {
    cursor: pointer;
}

.color-element:hover {
    box-shadow: inset 0px 0px 0px 3px rgb(0, 0, 0);
}

.black {
    color: black;
    
}

.form-height {
    height: 450px;
    width: 450px;
}

.form p {
    font-family: 'Rubik Wet Paint', sans-serif;
    font-size: 30px;
}

.user-details {
    font-family: 'Rubik Wet Paint', sans-serif;
    font-size: 40px;
    color: white;
}

.start-screen {
    position: fixed;
    left: 0;
    width: 100vw;
    height: 250px;
    background-color: rgba(0, 0, 0,0.7); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999; 
    color: #fff;
    margin-top: 15%;
}

.enter-button {
    padding: 10px 20px;
    font-size: 1.5rem;
    background-color: #4caf50; /* Green button color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Rubik Wet Paint', sans-serif;
    font-size: 20px;
    transition: background-color 0.3s ease;
    font-family: 'Rubik Wet Paint', sans-serif;
    font-size: 20px;
}

.enter-button:hover {
    background-color: #45a6e8; /* Lighter shade on hover */
}

.start-screen h1 {
    color: white;
    font-family: 'Rubik Wet Paint', sans-serif;
    font-size: 40px;
}

.start-screen p {
    font-family: 'Rubik Wet Paint', sans-serif;
    font-size: 20px;
    color: white;
}

.start-screen #username {
    margin-top: 6px;
    border-color: #45a6e8;
    border: 2px;
    height: 50px;
    width: 200px;
    color: black;
    display: flex;
    text-align: center;
    padding-top: 10px;
    font-size: 18px;
    margin-bottom: 15px;
    border-radius: 4px;
}

.user-details .username {
    color: rgb(0, 132, 255);
}

.game-message {
    color: rgb(192, 2, 154);
    font-family: 'Rubik Wet Paint', sans-serif;
    font-size: 30px;
    display: flex;
    width: 400px;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 20px;

}

.highlight {
opacity: 0.8; /* Adjust opacity or add any other styling for the highlighted state */
transition: opacity 0.3s ease;
}

.win-message {
    font-family: 'Rubik Wet Paint', sans-serif;
    color:rgb(2, 255, 2);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(1, 71, 1, 0.9);
    padding: 10px;
    font-size: 24px;
    border: 2px solid rgb(1, 71, 1, 0.9);
    border-radius: 5px;
    z-index: 1000;
}

.shrink {
    transform: scale(0.8); 
    transition: transform 0.2s ease-in-out; 
}

.darken {
    filter: brightness(10%);
}